@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

@layer utilities {
  .scrollbar-primary::-webkit-scrollbar {
    @apply w-1;
  }
  .scrollbar-primary::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  .scrollbar-primary::-webkit-scrollbar-thumb {
    @apply bg-zinc-600 rounded-xl bg-opacity-20;
  }

  .scrollbar-none::-webkit-scrollbar {
    @apply hidden;
  }

  .scrollbar-idle::-webkit-scrollbar-thumb {
    @apply bg-opacity-30;
  }
  .scrollbar-active::-webkit-scrollbar-thumb {
    @apply bg-opacity-100;
  }
}
